@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    
    <div class="col-md-5">
   
    </div>
    <div class="col-md-5">
        <h2>Register my organization</h2>
        <p>Register your organization</p>
        <p><a class="btn btn-default" href="Home/CreateOrg">Register my organization</a></p>
        <p><a class="btn btn-default" href="Account/login">Login</a></p>
    </div>
</div>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
